/*
1 creazione del testo e formattazione di 1 parola da far ruotare
2 inserimento delle altre 2 parole
3 sovrapporre le 3 parole
4 mostrare 1 parola e nascondere le altre 2
5 animare 1 parola (fadein - fadeout con spostamento)
6 animare le altre 2 parole
7 ritardare progressivamente l'animazione delle altre 2 parole 
*/

html, body {
    margin: 0;
    padding: 0;
    font-family: 'Bree Serif', sans-serif;
    color: #333;
}

main {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

#testoAlternato {
    border: 2px solid #333;
    padding: 100px;
    
}

#testoAlternato p {
    line-height: 1.5rem;
    margin: 0;
    
}
span {
    width: 200px;
    color:#6b969d;
}
.parole {
    display: inline-block;
    position: relative;
    height: 1.5em;
    vertical-align: bottom;
}

.parole i {
    position: absolute;
    left: 0;
    right: 0;
    opacity: 0;
    transform: translateY(100%);
    animation-name: rotate;
    animation-duration: 9s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-delay: 0s
}

@keyframes rotate {
    0% {
        opacity: 1;
        transform: translateY(0);
    }
    30% {
        opacity: 1;
        transform: translateY(0);
    }
    40% {
        opacity: 0;
        transform: translateY(-100%);
    }
    100% {
        opacity: 0;
        transform: translateY(100%);
    }
}
 
.parole i:nth-child(1) {
    opacity: 1;
    transform: translateY(0);
    animation-delay: 0s;
}


.parole i:nth-child(2) {
    animation-delay: 3s;
}

.parole i:nth-child(3) {
    animation-delay: 6s;
}



